:root {
    /*Colores*/
    --background-black: #121211;
    --primary-red: #ec4243;
    --secondary-yellow: #FDB827;
    --orange: #f06520;
    --blue: #4262F0;
    --black: #212529;
    --soft-black: #1F2229;
    --grey: #474e5e;
    --white: #ffffff;
    --off-white: #d4d4d4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body {
    font-size: 62.5%;
}

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

@font-face {
	font-family: "Destroy";
	font-weight: normal;
	font-style: normal;
	src: local('Destroy'), url('/assets/fonts/DESTROY_.TTF') format("trueType");
  }



.button-principal {
    width: 170px;
    height: 48px;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.2rem;
    background: rgb(240,101,32);
    background: linear-gradient(90deg , rgba(240,101,32,1) 40%, rgba(253,184,39,1) 100%);
    border-radius: 5px;
    border: 0;
    color: var(--white);
}
.button-principal:hover {
    background: var(--orange);
}

.img-bg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.fondo-mancha-left {
    width: 100%;
    background-image: url(/assets/img/fondo-mancha-yellow.png);
    background-position: left center;
    z-index: 0;
}
.fondo-mancha-right {
    width: 100%;
    background-image: url(/assets/img/fondo-yellow-left.png);
}
.img-fondo-pintura {
    background-image: url(/assets/img/fondo-lineas-black.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}


/* Navbar */
.navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.navbar-toggler-icon {
    background-image: url(/assets/icons/menu.svg) !important;
    width: 1.3em !important;
}
.navbar-nav .nav-item .nav-link {
    color: var(--white);
}
.navbar-nav li {
    margin-left: 20px;
}
.nav-link img {
    width: 20px;
}
.fixed-navbar-light {
    background-color: var(--background-black);
}

/* Inicio */
.inicio-video--container {
  position: relative;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  background-color: var(--background-black);
  background-blend-mode: soft-light;
}
.inicio-video--container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 10, 20, 0.5) !important;
    opacity: 0.1;
    transition: 0.15s;
    z-index: 1;
}
.inicio-video--container video{
    position: absolute;
    top: 60%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
/* .inicio-text-container {
    position: relative;
    z-index: 2;
} */
.text-inicio-content {
    display: flex;
    justify-content: normal;
    align-items: flex-end;
}
.title-inicio {
    padding: 10px 10px;
    font-size: 3rem;
    font-family: "Destroy";
    line-height: 4.4rem;
    color: var(--white);
    /* background-color: rgba(255, 255, 255, 0.6); */
    background-color: rgba( 253, 184, 3, 0.5);
}
/* .text-inicio {
    min-width: 300px;
    max-width: 520px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--off-white);
} */

.img-cinta--content {
    width: 100%;
    height: 315px;
    background-image: url(/assets/img/cinta-L.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text-cinta--container {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.text-cinta--container h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: var(--background-black);
}

/* Quienes somos  */
.quienes-somos--container {
    padding: 60px 0 40px;
}
.text-quienes-somos--content {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6rem;
    color: var(--off-white);
}
.text-quienes-somos--content .text-emociones h3, 
.text-quienes-somos--content .text-biofrecuencias h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: var(--orange);
}

.content-img--quienes-somos {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    z-index: 0;
}
.content-img--quienes-somos .img {
    width: 100%;
    min-height: 350px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    background-position: center center;
}

/* Gallery  */
.gallery--container {
    padding: 50px 0 0px;
}
.principal-gallery-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    z-index: 0;
}
.principal-gallery-content .img-principal {
    width: 100%;
    height: 250px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    background-position: top;
}
.text-principal-gallery {
    width: 80%;
    height: 280px;
    position: absolute;
    top: 307px;
    bottom: 0;
    z-index: 2;
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
}
.text-principal-gallery img {
    width: 100%;
    height: 250px;
    position: relative;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text-principal-gallery .text-content-principal {
    display: flex;
    align-items: center;
}
.text-principal-gallery .text-content-principal p {
    padding: 0 10px 0 10px;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--black);
}
.img-secundaria-gallery {
    max-width: 100%;
    height: 250px;
    border-radius: 10px;
}
.text-content-secundario p {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--black);
}

.gallery-carousel--container {
    margin-top: 50px;
}
.img-gallery-carousel  {
    max-width: 100%;
    height: 350px;
    border-radius: 10px;
    background-position: top center;
}

/* Como lo hacemos  */
.como-hacemos--container {
    padding: 60px 0 10px;
    background-color: rgba(255, 255, 255, 0.9);
}
.title--como-hacemos {
    padding-bottom: 40px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--background-black);
}
.content-pasos {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.content-pasos img {
    width: 50px;
    height: 60px;
    margin-right: 20px;
}
.content-pasos .number-pasos {
    font-size: 1.38rem;
    font-weight: 500;
    color: var(--grey);
}
.content-pasos .text-pasos {
    width: 70%;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--black);
}

/* Opiniones */
.img-cinta-small {
    width: 100%;
    height: 210px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-image: url(/assets/img/cinta-L.png);
}
.text-cinta-small--content {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.text-cinta-small--content h2 {
    text-align: center;
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 2.8rem;
    font-family: "Destroy";
    color: var(--background-black);
}

.carousel-container--opiniones {
    padding: 20px 0;
}
.carousel-content--img {
    width: 100%;
    height: 470px;
    border-radius: 10px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: rgba(0, 10, 20, 0.2) !important;
    background-blend-mode: soft-light;
    overflow: hidden;
    position: relative;
}
.carousel-content--img::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(253,184,39);
    background: linear-gradient(360deg, rgba(253,184,39,0.8519782913165266) 40%, rgba(0,0,0,0) 100%);
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0.4;
    transition: 0.15s;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: var(--black) !important;
}
.container--opiniones {
    height: 100%;
    align-items: flex-end;
}
.text-opiniones p {
     display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
    color: var(--white);
}
.text-opiniones h6 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
}
.bg-content-opinion {
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: rgba(255, 255, 255, 0.6); */
    background-color: rgba(18, 18, 17, 0.4);
}


/* Paquetes */
.paquetes-info-container {
    text-align: center;
}
.head-paquete-container {
    width: 90%;
    height: 115px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title-head-paquete {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paquetes-info-container h4{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.6rem;
    color: var(--white);
}
.paquetes-info-container .paquete-card--precio {
    /* padding: 15px 0; */
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-family: "Destroy";
    font-weight: bold;
    color: var(--secondary-yellow);
}
.paquetes-info-container .paquete-card--precio span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: text-top;
}
.paquetes-info-container .text-paquete-incluye {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.4rem;
    color: var(--black);
}
.paquetes-info-container .text-paquete-incluye li {
    margin-bottom: 15px;
}
.check-paquetes {
    font-size: 18px;
    vertical-align: sub;
    margin-right: 5px;
    color: var(--orange);
}
.button-reserva {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #fff8f6;
    border: 3px solid var(--orange);
    box-shadow: 0px 4px 8px rgb(240 101 32 / 16%);
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.4rem;
    color: var(--orange);
}
.button-reserva:hover {
    color: var(--white);
    background: rgb(240,101,32);
    background: linear-gradient(90deg , rgba(240,101,32,1) 40%, rgba(253,184,39,1) 100%);
    border: 0;
}

/* Carrousel paquetes  */
  .carousel-cell {
    width: 100%;
    height: 555px;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.125);
    /* background-color: var(--white); */
    background-color: rgba(255,255,255, 0.9);
    box-shadow: 0 4px 8px rgb(89 73 30 / 16%);
    counter-increment: carousel-cell;
  }
  .carousel-cell.is-selected {
    background-color: var(--white);
  }
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    /* content: counter(carousel-cell); */
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  .flickity-viewport {
      height: 570px;
  }
  .flickity-page-dots .dot {
      background-color: var(--black) !important;
  }
  .flickity-page-dots .dot.is-selected {
      background-color: var(--black) !important;
  }


/* Contacto  */
/* .fondo-contacto {
    width: 100%;
    background-color: var(--background-black);
    background-image: url(/assets/img/fondo-yellow-ch.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
} */
.contacto--container {
    padding: 45px 0 40px;
}
.contacto--title {
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
    color: var(--white);
}
.contacto--formulario {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
}
.map--container {
    width: 100%;
    margin-top: 30px;
}

.contacto-text--direccion p, .contacto-links {
    margin-bottom: 3px;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--white);
}
.contacto-links a {
    display: grid;
    font-weight: 600;
    color: var(--white);
}
.contacto-links a:hover {
    color: #f06520;
}
.contacto-redes-sociales {
    display: flex;
    list-style: none;
}
.contacto-redes-sociales li {
    margin-right: 30px;
}
.contacto-redes-sociales img {
    width: 25px;
    height: 25px;
}

.fondo-footer {
    width: 100%;
    /* background-color: var(--background-black); */
    background-image: url(/assets/img/fondo-yellow-left.png);
    background-position: right center;
}
.feed-inst-content {
    width: 100%;
    margin: 0 auto;
    color: var(--white);
}
