:root {
    /*Colores*/
    --background-black: #121211;
    --primary-red: #ec4243;
    --secondary-yellow: #FDB827;
    --orange: #f06520;
    --blue: #4262F0;
    --black: #212529;
    --soft-black: #1F2229;
    --grey: #474e5e;
    --white: #ffffff;
    --off-white: #d4d4d4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body {
    font-size: 62.5%;
}

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

@font-face {
	font-family: "Destroy";
	font-weight: normal;
	font-style: normal;
	src: local('Destroy'), url('/assets/fonts/DESTROY_.TTF') format("trueType");
  }



.button-principal {
    width: 170px;
    height: 48px;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.2rem;
    background: rgb(240,101,32);
    background: linear-gradient(90deg , rgba(240,101,32,1) 40%, rgba(253,184,39,1) 100%);
    border-radius: 5px;
    border: 0;
    color: var(--white);
}
.button-principal:hover {
    background: var(--orange);
}


/* Navbar */
.navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.navbar-toggler-icon {
    background-image: url(/assets/icons/menu.svg) !important;
    width: 1.3em !important;
}
.navbar-nav .nav-item .nav-link {
    color: var(--white);
}
.navbar-nav li {
    margin-left: 20px;
}
.fixed-navbar-light {
    background-color: var(--background-black);
}

/* Inicio */
.inicio-video--container {
  position: relative;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  background-color: var(--background-black);
  background-blend-mode: soft-light;
}
.inicio-video--container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 10, 20, 0.5) !important;
    opacity: 0.1;
    transition: 0.15s;
    z-index: 1;
}
.inicio-video--container video{
    position: absolute;
    top: 60%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.inicio-text-container {
    position: relative;
    z-index: 2;
}
.text-inicio-content {
    height: 625px;
}
.title-inicio {
    font-size: 3.1rem;
    font-family: "Destroy";
    line-height: 4.4rem;
    color: var(--white);
}
.text-inicio {
    min-width: 300px;
    max-width: 520px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--off-white);
}

.img-cinta--content {
    width: 100%;
    height: 315px;
    background-image: url(/assets/img/cinta-L.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text-cinta--container {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.text-cinta--container h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: var(--background-black);
}

/* Quienes somos  */
.fondo-mancha-amarilla {
    width: 100%;
    background-image: url(/assets/img/fondo-mancha-yellow.png);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
.quienes-somos--container {
    padding: 60px 0 80px;
}
.text-quienes-somos--content {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6rem;
    color: var(--off-white);
}
.text-quienes-somos--content .text-emociones h3, 
.text-quienes-somos--content .text-biofrecuencias h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: var(--orange);
}

.content-img--quienes-somos {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    z-index: 0;
}
.content-img--quienes-somos .img {
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Gallery  */
.img-fondo-pintura {
    background-image: url(/assets/img/fondo-lineas-black.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
.gallery--container {
    padding: 50px 0 0px;
}
.principal-gallery-content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    z-index: 0;
}
.principal-gallery-content .img-principal {
    width: 100%;
    height: 250px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.text-principal-gallery {
    width: 80%;
    height: 280px;
    position: absolute;
    top: 307px;
    bottom: 0;
    z-index: 2;
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
}
.text-principal-gallery img {
    width: 100%;
    height: 250px;
    position: relative;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text-principal-gallery .text-content-principal {
    display: flex;
    align-items: center;
}
.text-principal-gallery .text-content-principal p {
    padding: 0 10px 0 10px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--black);
}
.img-secundaria-gallery {
    max-width: 100%;
    height: 230px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text-content-secundario p {
    font-size: 1.1rem;
    font-weight: 400;
    list-style: 1.6rem;
    color: var(--black);
}

/* .seccion-carrousel-quienes-somos {
    background-color: var(--background-black);
}
.carrousel-img-somos {
    background-color: rgba(0, 10, 20, 0.8) !important;
    background-blend-mode: soft-light;
    position: relative;
}
.carrousel-img-somos::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(253,184,39);
    background: linear-gradient(360deg, rgba(253,184,39,0.8519782913165266) 50%, rgba(0,0,0,0) 100%);
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0.4;
    transition: 0.15s;
}
.carrousel-text-somos p {
    font-size: 1.2rem; 
    font-weight: 600; 
    line-height: 1.4rem;
} */

/* .carrousel-content-somos .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--secondary-yellow);
    opacity: 0.8;
    z-index: 1;
} */

/* .relajacion-img {
    height: 60vh;
    background-color: rgba(0, 10, 20, 0.2) !important;
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text-quienes-somos--content {
    margin-top: 50px;
}
.text-quienes-somos--content h3 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;
    font-family: 'Signika', sans-serif;
    color: var(--white)
}
.text--lista-quienes-somos {
    margin-top: 30px;
    padding-left: 30px;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: var(--off-white)
}
.text--lista-quienes-somos li {
    margin-bottom: 20px;
} */

/* .text-emociones--content{
    margin-top: 50px;
    margin-bottom: 80px;
}
.text-emociones--content h3, .text-biofrecuencias--content h3 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2rem;
    font-family: 'Signika', sans-serif;
    color: var(--white);
}
.text-emociones--content p, .text-biofrecuencias--content p {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: var(--off-white)
} */

/* Anterior */
/* .inicio--container {
    min-height: 750px;
    background-image: url(/assets/img/tele-s.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(23, 23, 23, 0.5) !important;
    background-blend-mode: soft-light;
}
.inicio--container .row {
    height: 665px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.inicio-container--text {
    margin-top: 40px !important;
}
.inicio-container--text h1{
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 2.8rem;
    color: var(--white);
}
.inicio-container--text p{
    min-width: 300px;
    max-width: 520px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6rem;
    color: var(--off-white);
}

.inicio-container--img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inicio-container--img img {
    width: 300px;
    max-width: 320px;
    height: auto;
}

.acerca-de--container {
    display: flex;
    align-items: center;
    background-color: var(--background-black);
}
.acerca-de--container .container-text-emociones h3, .container-text-biofrecuencias h3{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white);
}
.acerca-de--container .container-text-emociones p, .container-text-biofrecuencias p {
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4rem;
    color: var(--off-white);
}
.acerca-de--container .container-text-emociones {
    margin-top: 50px;
    margin-right: 60px;
}
.acerca-de--container .container-text-biofrecuencias {
    margin-top: 30px;
    margin-bottom: 30px;
}
.acerca-de--container .container-img-emociones, .container-img-biofrecuencias {
    width: 100%;
    height: 350px;
}
.acerca-de--container .container-img-emociones {
    background-image: url(/assets/img/mujeres.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.acerca-de--container .container-img-biofrecuencias {
    background-image: url(/assets/img/relajacion.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.animated-left {
    max-height: 90%;
    position: absolute;
    top: 10%;
    -webkit-transition: left 0.6s ease 0.5s;
    transition: left 0.6s ease 0.5s;
} */


/* .gallery--container {
    background-color: var(--white);
}
.content-gallery-video {
    margin-top: 80px !important;
}
.gallery--container .gallery-container--text h3 {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
}
.gallery--container .gallery-container--text p {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4rem;
    color: var(--soft-black);
}
.gallery--container .gallery-container--video {
    height: 100%;
    min-height: 320px;
    max-height: 350px;
}
.gallery--container .gallery-container--video iframe{
    width: 100%;
    height: 100%;
}
.gallery--container .content-gallery--img {
    margin-top: 80px;
}
.content-gallery--img .img--content {
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

/* Opiniones */
/* .opiniones--container {
    background-color: var(--background-black);
} */
.img-cinta-small {
    width: 100%;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url(/assets/img/cinta-L.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.text-cinta-small--content {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.text-cinta-small--content h2 {
    text-align: center;
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 2.8rem;
    font-family: "Destroy";
    color: var(--background-black);
}

.carousel-container--opiniones {
    padding: 20px 0;
}
.carousel-content--img {
    width: 100%;
    height: 450px;
    border-radius: 10px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: rgba(0, 10, 20, 0.3) !important;
    background-blend-mode: soft-light;
    overflow: hidden;
    position: relative;
}
.carousel-content--img::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(253,184,39);
    background: linear-gradient(360deg, rgba(253,184,39,0.8519782913165266) 30%, rgba(0,0,0,0) 100%);
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0.4;
    transition: 0.15s;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background-color: var(--black) !important;
}
.text-container--opiniones {
    padding-top: 20%;
    justify-content: center;
}
.text-container--opiniones p {
    font-size: 1.2rem;
    font-weight: 400;
    list-style: 1.4rem;
    color: var(--off-white);
}
.text-container--opiniones h6 {
    font-size: 1.3rem;
    font-weight: 500;
    list-style: 1.8rem;
    color: var(--off-white);
}

/* Paquetes */
/* .paquetes-container--slider {
    background-color: var(--background-black);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.paquetes-title {
    width: 100%;
    margin-bottom: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    font-family: 'Signika', sans-serif;
    line-height: 2.6rem;
    text-align: center;
    color: var(--white);
} */

.paquetes-info-container {
    text-align: center;
}
.head-paquete-container {
    width: 68%;
    height: 115px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title-head-paquete {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paquetes-info-container h4{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.6rem;
    color: var(--white);
}
.paquetes-info-container .paquete-card--precio {
    /* padding: 15px 0; */
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-family: "Destroy";
    font-weight: bold;
    color: var(--secondary-yellow);
}
.paquetes-info-container .paquete-card--precio span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: text-top;
}
.paquetes-info-container .paquete-card-incluye {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4rem;
    color: var(--black);
}
.paquetes-info-container .paquete-card-incluye li {
    margin-bottom: 15px;
}
.check-paquetes {
    font-size: 18px;
    vertical-align: sub;
    margin-right: 5px;
    color: var(--orange);
}
.button-reserva {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #fff8f6;
    border: 3px solid var(--orange);
    box-shadow: 0px 4px 8px rgb(240 101 32 / 16%);
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.4rem;
    color: var(--orange);
}
.button-reserva:hover {
    color: var(--white);
    background: rgb(240,101,32);
    background: linear-gradient(90deg , rgba(240,101,32,1) 40%, rgba(253,184,39,1) 100%);
    border: 0;
}

/* Carrousel paquetes  */
  .carousel-cell {
    width: 100%;
    height: 555px;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.125);
    background-color: var(--white);
    box-shadow: 0 4px 8px rgb(89 73 30 / 16%);
    counter-increment: carousel-cell;
  }
  .carousel-cell.is-selected {
    background-color: #fffaf5;
  }
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    /* content: counter(carousel-cell); */
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  .flickity-viewport {
      height: 570px;
  }
  .flickity-page-dots .dot {
      background-color: var(--black) !important;
  }
  .flickity-page-dots .dot.is-selected {
      background-color: var(--black) !important;
  }


  


  /* .gallery-cell {
    width: 100%;
    height: 480px;
    margin-right: 10px;
    border-radius: 10px !important;
    border: 1px solid rgba(0,0,0,.125);
    background-color: var(--white);
    box-shadow: 0 4px 8px rgb(89 73 30 / 16%);
    counter-increment: gallery-cell;
  }
  .gallery-cell.is-selected {
    background: #ED2;
    background-color: var(--blue);
    box-shadow: 0 15px 30px 0 rgb(0 0 0 / 5%);
  } */
  /* .flickity-page-dots .dot {
    background-color: white !important;
    opacity: 0.6 !important;
  }
  .flickity-page-dots .dot.is-selected {
    background-color: white !important;
    opacity: 1 !important;
  } */
  /* cell number */
  /* .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  } */

/* Contacto  */
.fondo-contacto {
    width: 100%;
    background-image: url(/assets/img/fondo-yellow-left.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
.contacto--container {
    padding: 60px 0 30px;

}
.contacto--title {
    margin-bottom: 30px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2rem;
    color: var(--off-white);
}
.contacto--formulario {
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    color: var(--off-white);
}
.contacto-text--direccion, .contacto-links {
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--off-white);
}
.contacto-links a {
    display: grid;
    color: var(--secondary-yellow);
}
.contacto-links a:hover {
    color: #805703;
}
.contacto-redes-sociales {
    display: flex;
    list-style: none;
}
.contacto-redes-sociales li {
    margin-right: 30px;
}


