/* .fixed-navbar-light {
    background-color: transparent;
} */
.fixed-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background-color: var(--background-black) !important;
    -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    padding: 0 15px;
}
.fixed-navbar-light.scrolled.awake {
    margin-top: 0px;
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}
.fixed-navbar-light.scrolled .nav-link.active {
    color: yellow;
}


/* General  */
.fondo-mancha-left {
    background-position: center center;
}


/* Inicio */
.inicio-video--container video{
    width: 100%;
    height: auto;
}
.inicio-text-container .title-inicio {
    font-size: 6.8rem;
    text-align: right;
    line-height: 7.9rem;
}
.inicio-text-container .text-inicio {
    font-size: 1.8rem;
    line-height: 2rem;
}
.text-cinta--container h3 {
    font-size: 2.6rem;
    line-height: 2.8rem;
}


/* Quienes somos  */
.quienes-somos--container {
    padding: 120px 0 80px;
}

.gallery--container {
    padding: 80px 0 50px;
}
.principal-gallery-content .img-principal {
    height: auto;
}

.text-cinta-small--content h2 {
    font-size: 2.4rem;
}


.img-gallery-carousel  {
    height: 250px;
    background-position: center center;
}


/* opiniones */
.carousel-container--opiniones {
    padding: 50px 30px;
}
.carousel-content--img {
    height: 560px;
}

/* Paquetes */
.carousel-cell {
    width: 25%;
  }


/* Contacto   */
.contacto--container {
    padding: 65px 0 40px;
}
.contacto--formulario {
    width: 70%;
}
.formulario-contacto--container {
    padding-left: 30px !important;
}

.map--container {
    width: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.fondo-footer {
    background-position: center center;
}
.feed-inst-content {
    width: 60%;
}