/* .fixed-navbar-light {
    background-color: transparent;
} */
.fixed-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background-color: var(--background-black) !important;
    -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    padding: 0 15px;
}
.fixed-navbar-light.scrolled.awake {
    margin-top: 0px;
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}


/* Inicio */
/* .inicio-text-container .text-inicio-content {
    height: 620px;
} */
.inicio-video--container video{
    width: 100%;
    height: auto;
}
.inicio-text-container .title-inicio {
    font-size: 6.6rem;
    text-align: right;
    line-height: 7.6rem;
}
.inicio-text-container .text-inicio {
    font-size: 1.8rem;
    line-height: 2rem;
}


/* .content--acerca-de {
    margin-top: 70px !important;
    margin-bottom: 40px;
}
.acerca-de--container .container-text-biofrecuencias {
    margin-top: 60px;
    margin-left: 50px;
}

.gallery--container .content-gallery--img {
    margin-bottom: 20px;
} */


/* Quienes somos  */
.carrousel-text-somos {
    top: 50%;
}
.carrousel-text-somos p {
    font-size: 1.8rem; 
    line-height: 2rem;
}

.relajacion-img {
    height: 100vh;
}


/* opiniones */
.carousel-container--opiniones {
    padding: 50px 30px;
}
.carousel-content--img {
    height: 560px;
}

/* Paquetes */
.gallery-cell {
    width: 22%;
  }


/* Contacto   */
.contacto--formulario {
    width: 80%;
    font-size: 1rem;
    font-weight: 300;
    color: var(--off-white);
}
.formulario-contacto--container {
    padding-left: 30px !important;
}
