/* .fixed-navbar-light {
    background-color: transparent;
} */
.fixed-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background-color: var(--background-black) !important;
    -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    padding: 0 15px;
}
.fixed-navbar-light.scrolled.awake {
    margin-top: 0px;
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}
.fixed-navbar-light.scrolled .nav-link.active {
    color: var(--secondary-yellow);
}

.btn-reserva {
    margin-top: 0px;
    margin-bottom: 0px;
}


/* General  */
.fondo-mancha-left {
    background-position: center center;
}


/* Inicio */
.inicio-video--container video{
    width: 100%;
    height: auto;
}
.text-inicio-content {
    justify-content: flex-end;
}
.title-inicio {
    font-size: 6.8rem;
    text-align: right;
    line-height: 7.9rem;
}
.text-cinta--container h3 {
    font-size: 2.6rem;
    line-height: 2.8rem;
}


/* Quienes somos  */
.quienes-somos--container {
    padding: 120px 0 80px;
}

.gallery--container {
    padding: 80px 0 50px;
}
.principal-gallery-content .img-principal {
    height: auto;
}

.text-cinta-small--content h2 {
    font-size: 2.4rem;
}

.img-gallery-carousel  {
    height: 250px;
    background-position: center center;
}


/* Como lo hacemos  */
.como-hacemos--container {
    padding: 60px 0 30px;
}
.content-pasos {
    margin-top: 20px;
    margin-bottom: 30px;
}


/* opiniones */
.carousel-container--opiniones {
    padding: 50px 30px;
}
.carousel-content--img {
    height: 570px;
}
.text-opiniones {
    width: 70%;
    margin: 0 auto;
}
.text-opiniones p {
    font-size: 1.125rem;
    line-height: 1.6rem;
}
.text-opiniones h6 {
    font-size: 1.25rem;
}
.bg-content-opinion {
    padding-top: 15px;
    padding-bottom: 15px;
}


/* Paquetes */
.carousel-cell {
    width: 25%;
  }


/* Contacto   */
.contacto--container {
    padding: 65px 0 40px;
}
.contacto--formulario {
    width: 70%;
}
.formulario-contacto--container {
    padding-left: 30px !important;
}

.map--container {
    width: 80%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.fondo-footer {
    background-position: center center;
}
.feed-inst-content {
    width: 60%;
}